h1{
	font-size: 4rem;
	font-family: "Arial";
color: white;
}
.row{
	height: 150px
}
.music{
	visibility: hidden;
}

.aaaperro{
	color: red;
}
.divperro{
	 height: 500px
}
.divperro img{
	height: 500px;
	width: 300px;

.divperro p{

}

